h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.review {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
  transform: translateY(100%);
  background-color: rgba(77, 90, 229, 1);
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer--mobile {
  min-width: 208px;
  margin-left: 56px;
}

.review:hover .overlay {
  transform: translateY(0%);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list,
.link {
  list-style-type: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

.accent-color {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay--mobile {
  display: none;
}

.container {
  max-width: 367px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.menu,
.menu-contacts {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  stroke: #111111;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0%);
}

.contacts--mobile {
  display: none;
}

.mobile-menu-container {
  position: relative;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  height: 24px;
  border: none;
  stroke: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  stroke-width: 1px;
  padding: 8px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu {
  padding-top: 72px;
}

.mobile-menu-item {
  padding-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.mobile-menu-link--color {
  color: #404bbf;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.menu-contacts--mobile {
  padding-top: 168px;
  padding-bottom: 48px;
}

.contacts-link {
  color: #434455;
}

.contacts-link--color {
  color: #4d5ae5;
}

.container-mobile-social {
  padding-left: 16px;
  padding-right: 24px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 280px;
  margin-bottom: 40px;
}

.social-list--mobile {
  gap: 24px;
}

.social-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header--mobile {
  padding-top: 18px;
  padding-bottom: 18px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  border-radius: 4px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 17px 24px 16px;
}

.modal-close-btn {
  position: absolute;
  top: 50px;
  right: 24px;
  background-color: #e7e9fc;
  border: none;
  stroke: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  stroke-width: 1px;
  padding: 0px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.review-form-description {
  color: #2e2f42;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-top: 72px;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  font-weight: 400;
  color: #8e8f99;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.review-form-input:focus {
  border-color: #4d5ae5;
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: #404040;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
}

.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.review-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-comment:focus {
  border-color: #4d5ae5;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 12px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  > .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-own-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox-icon {
  opacity: 1;
}

.review-form-checkbox:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.review-form-submit-btn {
  min-width: 169px;
  padding: 14px 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
  color: #fff;
}

.accent-color {
  color: #4d5ae5;
}

.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.main-head {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.main-section {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainsection/bi.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/mainsection/fsmobile2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/mainsection/fstablet2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/retina/mainsection/fsdesktop2x.jpg);
  }
}

.button {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  display: block;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-icon {
  display: none;
}

.strategy-item {
  margin-bottom: 72px;
}

.strategy-item:last-child {
  margin-bottom: 0;
}

.features {
  padding: 96px 0;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-unit:hover,
.social-unit:focus {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
}

.social-unit--footer:hover,
.social-unit--footer:focus {
  background-color: #31d0aa;
}

.feature-unit {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.features-discribe {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.main-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  font-weight: 700;
}

.team-item {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team--mobile {
  padding-left: 28px;
  padding-right: 28px;
}

.team-person {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 32px;
}

.team-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.title-portfolio {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.app-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio {
  margin-top: 96px;
  margin-bottom: 96px;
}

.container-footer {
  background-color: #2e2f42;
  display: flex;
  align-items: baseline;
  min-width: 320px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-footer {
  color: #f4f4fd;
}

.logo--footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 18px;
}

.logo-div {
  text-align: center;
}

.footer-text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.media {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}

.media--mobile {
  display: block;
  text-align: center;
}

.social-list--footer-mobile {
  gap: 16px;
}

.email-wrapper--mobile {
  display: block;
  text-align: center;
}

.email-point {
  display: block;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.contact-form-input {
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  width: 264px;
  height: 40px;
  gap: 24px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.email-button {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
}

.email-button--mobile {
  margin-top: 16px;
  margin-bottom: 96px;
}

.email-svg {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-wrapper {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  .team-desktop {
    max-width: 568px;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link:hover,
  .menu-link:active,
  .menu-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .menu-item:hover,
  .menu-item:focus,
  .contacts-link:active {
    color: #404bbf;
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    gap: 40px;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .first {
    color: #404bbf;
  }

  .first::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    display: flex;
    gap: 40px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .contacts-item {
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .menu-contacts {
    gap: 12px;
  }

  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }

  .strategy-item,
  .team-card {
    width: calc((100% - 24px) / 2);
  }

  .team-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }

  .logo-div-desktop {
    margin-left: 108px;
  }

  .email-wrapper--desktop {
    margin-left: 108px;
  }

  .email-form {
    display: flex;
    column-gap: 24px;
    align-items: baseline;
  }

  .email-point {
    text-align: start;
  }
  .modal {
    width: 408px;
    top: 80%;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .menu-contacts,
  .portfolio-item {
    flex-direction: row;
  }

  .contacts-link {
    font-size: 16px;
  }

  .main-head {
    margin-top: 188px;
  }

  .button {
    margin-bottom: 188px;
  }

  .menu-features,
  .team-item {
    flex-wrap: nowrap;
  }
  .strategy-item,
  .team-card {
    width: calc((100% - 24px) / 4);
  }

  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }

  .feature-unit {
    font-size: 20px;
  }

  .container-icon {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
  }

  .features {
    padding: 120px 0;
  }

  .container-footer {
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
  }

  .email-point {
    margin-bottom: 0;
  }

  .logo-div {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .social-footer {
    margin-left: 120px;
  }

  .email-wrapper {
    margin-left: 80px;
  }

  .logo-footer {
    margin-bottom: 0;
  }
  .logo--footer {
    margin: 0;
  }

  .footer-text {
    text-align: left;
  }
}
